@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&display=swap');
*{
    font-family: 'Cairo', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;

}
header nav{
    background-color: #517D5C;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
}
.navbar{
    background-color: #517D5C;
    width: 100%;
    display: flex;
    
}
.buttons button{
color: azure;
text-decoration: none;
font-size: 1.1em;
font-weight: 500;
padding-left: 30px;
margin: 4px 2px;
}
section {
    padding: 100px 200px;
}
.main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: left;
}
.title{
    display: flex;
    justify-content: center;
    color:#517D5C;
    font-size: 2.8em;
    font-weight: 800;
    margin-bottom: 30px; 
}
.content{
    display: flex;
    justify-content: center;
flex-direction: row;
flex-wrap: wrap;
}
.card{
    background-color: #517D5C;
    width: 21.25em; 
     box-shadow: 0 -5px 35px rgb(1 1 1/15%) ;
     border-radius: 10px;
     padding: 5%;
     margin: 15px;
}
.card:hover{
    transform: scale(1.1);
}
.icon{
    color:azure;
    font-size: 8em;
    text-align: center;
}
.text{
    text-align: center;

}
.text h3{
    color: #517D5C;
    font-size: 1.2em;
    font-weight:700 ;
    margin: 10px;

}
.text-green{
    color: #517D5C;
    font-size: 1.2em;
    font-weight:700 ;
    margin: 10px;
}







